apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: Deployment
      name: api
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
      - op: replace
        path: /spec/containers/0/image
        value: ghcr.io/pikol-app/api:0.16.0
  - target:
      kind: Ingress
      name: api
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: api.pikol.app
      - op: replace
        path: /spec/tls/0/hosts/0
        value: api.pikol.app
